<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MyBatis Board</title>
    <!-- 부트스트랩 CSS 파일 포함 -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="text-center">
        <h2 class="mb-4">MyBatis Board</h2>
        <a href="/save" class="btn btn-primary mx-2">글 작성</a>
        <a href="/list" class="btn btn-secondary mx-2">글 목록</a>
    </div>
</div>

</body>
</html>
