<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board Update</title>
    <!-- Bootstrap CSS 파일 포함 -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center">게시글 수정</h2>
    <form th:action="@{|/update/${board.id}|}" method="post" name="updateForm" th:object="${board}">
        <div class="form-group">
            <label for="boardWriter">작성자</label>
            <input type="text" class="form-control" id="boardWriter" name="boardWriter" th:value="*{boardWriter}" readonly>
            <input type="hidden">
        </div>
        <div class="form-group">
            <label for="boardTitle">제목</label>
            <input type="text" class="form-control" id="boardTitle" name="boardTitle" th:value="*{boardTitle}">
        </div>
        <div class="form-group">
            <label for="board-pass">비밀번호</label>
            <input type="password" class="form-control" id="board-pass" name="boardPass">
        </div>
        <div class="form-group">
            <label for="boardContents">내용</label>
            <textarea class="form-control" id="boardContents" name="boardContents" rows="10" th:text="*{boardContents}"></textarea>
        </div>
        <button type="button" class="btn btn-primary" onclick="board_update()">수정</button>
    </form>
</div>
<script th:inline="javascript">
    const board_update = () => {
        const boardPass = document.getElementById("board-pass").value;
        const passDB = /*[[${board.boardPass}]]*/ '[[${board.boardPass}]]'; // Ensure the correct Thymeleaf syntax
        if (boardPass === passDB) {
            document.updateForm.submit();
            alert("수정이 완료되었습니다.");
        } else {
            alert("비밀번호가 틀립니다!");
        }
    }
</script>
</body>
</html>
